<div class="container">

  <div class="col-lg-4 col-lg-offset-4" action='usercreated/:email' method='get'>
    <form class="form-signin">
        <h2 class="form-signin-heading">Create Successful</h2>
        <button class="btn btn-lg btn-primary btn-block" type="button">Go to Your Page</button>
      </form>
        
  </div>
</div>
